.carrossel__titulo {
  color: var(--laranja);
  background-color: var(--branco);
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  padding: 1.25rem 0 0.5rem 0;
}

.swiper-slide img {
  width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.swiper-pagination {
  position: initial;
  margin: 1rem 0;
}

.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  margin: 1rem;
}

.card__descricao {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 1rem;
}

.card__botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botoes {
  display: flex;
}

.descricao__titulo {
  color: var(--laranja);
  font-weight: 700;
}

.descricao__titulo-livro {
  color: var(--azul);
  font-size: 18px;
  font-weight: 700;
  margin: 0.5rem 0;
}

.descricao__texto {
  font-size: 14px;
  line-height: normal;
}

.botoes__item {
  margin: 0 0.5rem;
}

.botoes__ancora {
  background-color: var(--laranja);
  color: var(--branco);
  padding: 1rem 2.2rem;
  text-decoration: none;
  font-weight: 700;
}

.descricao__avaliacao {
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .carrossel__titulo {
    font-size: 26px;
  }

  .swiper-pagination {
    margin: 2rem 0 3rem 0;
  }

  .swiper {
    width: 60%;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: block;
    top: 60%;
  }

  .card {
    width: 40%;
    margin: 2rem auto;
  }
}

@media screen and (min-width: 1728px) {
  .carrossel__titulo {
    font-size: 36px;
    padding: 2rem 0 1rem 0;
  }

  .carrossel__container {
    display: flex;
    margin: 0 10vw 3rem 10vw;
    align-items: center;
    gap: 4rem;
  }

  .swiper-pagination {
    margin: 3rem 0 1rem 0;
    display: block;
  }

  .card {
    width: 60%;
    margin: 5rem 0 1rem 0;
  }

  .descricao__titulo {
    font-size: 32px;
  }

  .descricao__texto {
    font-size: 16px;
  }
}
