.topicos {
  background: var(--azul-degrade);
  text-align: center;
  padding: 1.5rem;
}

.topicos__titulo {
  color: var(--branco);
  font-weight: 300;
  padding-bottom: 1.5rem;
}

.topicos__lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.topicos__link {
  color: var(--branco);
  background-color: var(--laranja);
  padding: 1rem 1.5rem;
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .topicos__titulo {
    font-size: 24px;
  }

  .topicos__lista {
    width: 80%;
    margin: 0 auto;
  }

  .topicos__link {
    font-size: 24px;
  }
}
